.flex-between{
    display: flex;
    justify-content: space-between;
}

.container{
    padding: 1em 0;
    background-color: #eee;
    a{
        margin: 0 2em;
    }
    li{
        list-style: none;
        margin: 0 2em;
    }
}