*{
    margin: 0;
    border: 0;
    padding: 0;
    text-align: center;
}

body{
    background-color: rgb(156, 219, 221);
}

.content{
    .title{
        margin-top: 4em;
    }
    .login{
        margin-top: 2em;
    }
    .content-text{
        margin-top: 2em;
        h2{
            margin-top: 2em;
        }
        p{
            margin-top: 1em;
        }
    }
}